

form {
  margin-top: 50px;
  text-align: center;
}

form input {
  padding: 15px 10px;
  border-radius: 15px;
  border: 1px solid black;
  font-size: 18px;
  width: 80%;
}

form button{
  padding: 15px 35px;
  border-radius: 20px;
  border: 1px solid black;
  font-size: 22px;
  background-color: #e9ecef;
}

form button:hover{  
    background-color: #dee2e6;
    cursor: pointer;
}


