html, body {
  height: 100%;
  margin: 0;
  /* overflow: hidden; */
}

body{
  font-family: Segoe UI,Helvetica,Arial,sans-serif;
  font-size: 20px;
  background-image: url(../images/background.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin: 0;
  padding: 50px 10%;
}


nav{
  padding: 0;
  border-radius: 20px 20px 20px 20px;
  background-color: white;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

nav a {
  display: block;
  margin: 10px 0;
}

nav button {
  font-size: 20px;
  background-color: white;
  border: 0;
  border-radius: 10px;
  height: 100%;
  padding: 25px 50px;
}

nav button:hover{  
    background-color: #cdcdcd;
    cursor: pointer;
}

a {
  color: black;
  text-decoration: none;
}

main {
  margin: 50px 0;
  flex-direction: column;
}

.container{
  padding: 5% 8%;
  height: 100%;
  border-radius: 20px;
  background-color: white;
}

.container_header {
  font-size: 25px;
}

.deadLink {
  pointer-events: none;
}

