
.chain_length_label {
  font-size: 20px;
  margin: 20px 0;
}


table{
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

tr{
    border-top: 1px solid #e7eaf3;
}

tr:hover {
    background: #f8f9fa;
}

th{
    line-height: 1.5;
    padding: 10px 20px;
    text-align: left;
}

td{
  font-size: 22px;
  line-height: 1.5;
  padding: 1.5rem 20px;
}


.block_index {
  background-color: #e7e7e7;
  border-radius: 10px;
  padding: 15px 22px;
}


