{% extends "index.html" %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='../static/css/creating_wallet.css') }}">
{% endblock %}

{% block title %}
Create Wallet
{% endblock %}

{% block container_header %}
Creating Wallet
{% endblock %}
        
{% block content %}
<div>
  <p>Public key:</p>
  <div class="key">{{public_key}}</div>
  <button class="copyButton">copy</button>
</div>

<div>
  <p>Private key:</p>
  <div class="key">{{private_key}}</div>
  <button class="copyButton">copy</button>
</div>

{% block javascript %}
  <script src="{{ url_for('static', path='../static/js/creating-wallet.js') }}"></script>
{% endblock %}

{% endblock %}
