<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Chain</title>
    <link rel="shortcut icon" href="{{ url_for('static', path='../static/images/android-chrome-192x192.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', path='../static/css/index_style.css') }}">
</head>
<body>
    <header>
        <h1 class="name_page">Blocks</h1>
    </header>
    <main>
        <div class="container">
            <p>#Total of {{len_blocks}} blocks</p>
            <table>
                <thead>
                    <tr>
                        <th>Block</th>
                        <th>Time</th>
                        <th>Hash</th>
                        <th>Previous Hash</th>
                        <th>Data</th>
                    </tr>
                </thead>
                <tbody>

                    {% for block in chains %}
                        <tr>
                            <td><a href="/{{block[0]}}" target="_blank">{{block[0]}}</a></td>
                            <td>{{block[1]}}</td>
                            <td>{{block[3][:16] + "..."}}</td>
                            <td>{{block[2][:16] + "..."}}</td>
                            <td><a href="/{{block[0]}}/data" target="_blank">...</a></td>
                        </tr>
                    {% endfor %}

                </tbody>
            </table>
        </div>
    </main>
</body>
</html>