{% extends "index.html" %}

{% block links %}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', path='../static/css/viewing_block.css') }}">
{% endblock %}

{% block title %}
Block #{{ block.header.index }}
{% endblock %}

{% block container_header %}
Block #{{ block.header.index }}
{% endblock %}
        
{% block content %}

<div class="menu">
  <button id="blockHeaderButton" class="activeMode">Info</button>
  <button id="transactionsButton">Transactions</button>
</div>
<div id="blockHeader">
  <hr class="line">
  <div class="block_field">
    <div class="col_left">Index</div>
    <div class="col_right">{{block.header.index}}</div>
  </div>
  <hr class="line">
  <div class="block_field">
    <div class="col_left">Time</div>
    <div class="col_right">{{block.header.timestamp}}</div>
  </div>
  <hr class="line">
  <div class="block_field">
    <div class="col_left">Hash</div>
    <div class="col_right">{{block.hash}}</div>
  </div>
  <hr class="line">
  <div class="block_field">
    <div class="col_left">Previous Hash</div>
    <div class="col_right">{{block.header.prev_hash}}</div>
  </div>
  <hr class="line">
  <div class="block_field">
    <div class="col_left">Nonce</div>
    <div class="col_right">{{block.header.nonce}}</div>
  </div>
  <hr class="line">
</div>
<div id="transactions" class="hidden">
<table>
  <thead>
    <tr>
      <th>Index</th>
      <th>Timestamp</th>
      <th>From</th>
      <th>To</th>
      <th>Amount</th>
      <th>Message</th>
      <th>Transaction Hash</th>
    </tr>
  </thead>
  <tbody>
    {% set transaction_index = 0 %}
    {% for transaction in block.transactions %}
    </a>
      <tr class="transaction">
        <td><a class="transaction_index" href="/{{block.header.index}}/{{transaction_index}}" target="_blank">{{transaction_index}}</a></td>
        <td>{{ transaction.timestamp}}</td>
        <td>{{ transaction.sender[:4] + "..." + transaction.sender[-4:] }}</td>
        <td>{{ transaction.recipient [:4] + "..." + transaction.recipient[-4:] }}</td>
        <td>{{ transaction.amount }}</td>
        <td>{{ transaction.message }}</td>
        <td>{{ transaction.signature [:4] + "..." + transaction.signature[-4:] }}</td>
      </tr>
      {% set transaction_index = transaction_index + 1 %}
    {% endfor %}
  </tbody>
</table>
</div>

{% block javascript %}
  <script src="{{ url_for('static', path='../static/js/viewing_block.js') }}"></script>
{% endblock %}

{% endblock %}
